@model ShoesShopOnline.Models.ChiTietSanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietSanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnhMoTa.MaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhMoTa.MaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeGiay.Loai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeGiay.Loai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
